body {
	background-color: #FFFFFF;
    color: #FFFFFF;
    position: relative;
    padding-top: 80px;
}

#jumbotron, #skills, #portfolio, #education {
	box-shadow: 6px 6px 2px 0 #000000;
}

#traits {
	font-size: 25px;
	font-weight: bold;
	padding-top: 50px;
}

#traits li {
	padding-bottom: 15px;
}

#nav {
    border-radius: 0;   
}

#navbar-right {
	padding-right: 15px;
}

ul  {
	list-style-type: none;
}

#jumbotron{
    background-color: #304A4C;
    border-radius: 0;
}

#skills {
	background-color: #7E534F;
	padding: 15px;
    margin-bottom: 30px;
}

#skills li {
	font-size: 20px;
}

#portfolio {
	background-color: #7E6E4F;
	padding: 30px;
    margin-bottom: 30px;
}

#gallery {
	padding-bottom: 10px;
}

#education {
    margin-bottom: 30px;
    background-color: #304A4C;
}

h2 {
    font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
    font-weight: bold;
    font-size: 50px;
}

i {
	padding-right: 15px;
    color: #FFFFFF;
}